<body>

  <%= render :partial => 'layouts/cms_admin/navbar' %>

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span2 left-column">
        <%= render :partial => 'layouts/cms_admin/left'%>
      </div><!-- .span2 -->

      <div class="span8 center-column">
        <%= render :partial => 'layouts/cms_admin/center' %>
      </div><!-- .span10 -->

      <div class="span2 right-column">
        <%= render :partial => 'layouts/cms_admin/right'%>
      </div><!-- .span2 -->

    </div><!-- .row-fluid -->

  </div><!-- .container-fluid -->

</body>